<app-navbar-log></app-navbar-log>
<body>
    <div class="container-fluid pt-3 pl-3"> 
            <div class="row align-items-center center">
                <div class="col-5">
                    <img src="./assets/img/rick.png" alt="Image" class="center" >
                    <h1 class="rick_font">Seres "vivos"</h1>
                    <button type="button" class="btn btn-light btn-lg center" routerLink="/characters">¡Busquemos!</button>
                </div>
                <div class="col-2 center">
                    <img src="./assets/img/pp.png" alt="Image" class="center" >
                </div>
                <div class="col-5">
                    <img src="./assets/img/morty.png" alt="Image" class="center" >
                    <h1 class="rick_font">Lugares</h1>
                    <button type="button" class="btn btn-light btn-lg center" routerLink="/location">¡Vamos!</button>
                    
                </div>
            </div>

    </div>
</body>
