<app-navbar></app-navbar>
<body>
    <div class="container-fluid pt-3 pl-3"> 
            <div class="row align-items-center">
                <div class="col-6">
                    <h1 class="rick_font">¡Busquemos nuevos univesos!</h1>
                    <p>Te necesito para algo ¿Cuento contigo?</p>
                    <button type="button" class="btn btn-warning btn-lg" routerLink="/portals">¡Cuenta conmigo!</button>
                </div>
                <div class="col-4">
                    <img src="./assets/img/rickAndMorty.png" alt="Image" class="rick" style="width: 70;">
                </div>
            </div>

    </div>
</body>
